{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@app": "./src/app",
        "@containers": "./src/containers",
        "@images": "./src/shared/images",
        "@layout": "./src/shared/components/layout",
        "@data": "./src/shared/data",
        "@shared": "./src/shared"
      }
    }]
  ]
}
