// This is a general style file - share different colors, sizes, etc.
@import '../../../styles/generalStyles.scss';

// Content Text styles
.contentText {
  height: 100%;
  padding: 10px;
  text-align: center;

  .title {
    font-size: 28px;
    font-family: 'Gochi Hand', cursive;
  }

  .heroText {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 100px;

    .text {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      margin-right: 5%;
      text-align: justify;

      p {
        span {
          font-weight: 900;
          font-size: 22px;
        }
        &:nth-child(2) {
          margin-top: 30px;
        }

        &:nth-child(3) {
          margin-top: 50px;
        }

        a {
          color: $blue;
          font-weight: 600;

          &:hover {
            color: $brown;
          }
        }
      }
    }

    .adopt {
      width: 505px;
      height: 360px;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
    }
  }
}

/* Responsive */
@media screen and (max-width: $breakPoint) {
  .contentText {
    display: block;
    margin: 0 auto;
    padding: 20px;

    .heroText {
      display: block;
      margin: 0 auto;

      .text {
        display: block;
        width: inherit;
        margin-right: 0%;
        text-align: center;
      }

      .adopt {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        background-size: 100%;
        width: inherit;
      }
    }
  }
}
