// In this file are stored all the styles that are commonly repeated on the site
// Color Variables
$blue: #219DDB;
$white: #FFF;

// Devices Sizes
$ipad: 1024px;
$iphone6: 768px;
$smaller: 420px;
$breakPoint: 1279px;
$specialBreakPoint: 985px;
