// This is a general style file - share different colors, sizes, etc.
@import '../../../styles/generalStyles.scss';

// Footer styles
.siteFooter {
  height: 100px;
  //width: 100%;
  background-color: $brown;
  color: $white;
  line-height: 100px;
  padding-left: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  p {
    margin: 0px;
    padding: 0px;
  }
}

/* Responsive */
@media screen and (max-width: $breakPoint) {
  .siteFooter {
    display: block;
    padding-left: 0px;
    margin: 0 auto;
    font-size: 12px;
  }
}
