// This is a general style file - share different colors, sizes, etc.
@import '../../../styles/generalStyles.scss';

// Content Text styles
.containerForm {
  display: flex;
  height: auto;
  justify-content: center;

  .signUp {
    font-size: 26px;
    margin: 15px 0px 10px 25px;
    text-align: left;
    color: #a7a7a7;
  }

  .payment {
    font-size: 26px;
    margin: 15px 0px 10px 25px;
    text-align: left;
    color: #a7a7a7;
  }

  .active {
    color: #219adb;
  }

  .inactive {
    color: #a7a7a7;
  }

  .userForm {
    width: 40%;
    border-radius: 10px;
    text-align: center;
    background-color: $white;

    .form {
      margin: 25px;

      .data {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-radius: 15px;
        border: 1px solid #e0e0e2;
        margin-bottom: 30px;
        height: 45px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 16px;

        &:first-child {
          margin-top: 40px;
        }

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: #e0e0e9;
        }
      }

      .save {
        display: block;
        background: linear-gradient(#235bd8, #1ea3d6);
        width: 30%;
        height: 35px;
        border-radius: 15px;
        color: $white;
        margin: 0 auto;
        font-weight: 200;
        font-size: 16px;

        &:hover {
          cursor: pointer;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  .policy {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;

    a {
      text-decoration: none;
      color: #08b0da;
    }
  }
}

@media screen and (max-width: 768px) {
  .userForm {
    width: 90% !important;
  }
}
