// This is a general style file - share different colors, sizes, etc.
@import '../../../styles/generalStyles.scss';

html, body {
  margin: 0px;
  padding: 0px;
}

// Header Styles
.siteHeader {
  width: 100%;
  height: 700px;
  text-align: center;

  .menu {
    width: 100%;
    border-bottom: 3px solid $blue;
    height: 90px;
    text-align: left;
    position: relative;
    font-family: 'Gochi Hand', cursive;

    .agencyName {
      position: absolute;
      left: 230px;
      top: 20px;
      margin: 0px;

      a {
        text-decoration: none;
        font-size: 34px;
        color: $white;

        span {
          color: $blue;
          margin-right: 8px;
          font-size: 48px;
          font-family: 'Montserrat', sans-serif;
        }

        &:hover {
          color: $blue;
        }
      }
    }

    .contactus {
      position: absolute;
      right: 40px;
      color: $white;
      bottom: 10px;
      margin: 0px;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;

      a {
        text-decoration: none;

        img {
          width: 25px;
          height: 20px;
        }
      }
    }

    .logo {
      height: 100px;
      width: 100px;
      position: absolute;
      left: 100px;
      top: 5px;
    }
  }

}

/* Responsive */
@media screen and (max-width: $ipad) {
  .siteHeader {
    .menu  {
      height: 120px;
    }

    .bg {
      .animateText {
        top: 210px;

        &:after {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $iphone6) {
  .siteHeader {
    height: auto;

    .menu  {
      .agencyName {
        left: 130px;
        top: 45px;

        a {
          font-size: 20px;

          span {
            font-size: 24px;
          }
        }
      }

      .logo {
        left: 10px;
      }

      .contactus {
        left: 130px;
        font-size: 11px;
      }
    }

    .bg {
      height: 280px;
    }
  }
}

@media screen and (max-width: $smaller) {
  .siteHeader {
    .menu  {
      .agencyName {
        left: 130px;
        top: 45px;

        a {
          font-size: 14px;

          span {
            font-size: 14px;
          }
        }
      }

      .contactus {
        font-size: 8px;
      }
    }
  }
}

/* Animation for text in header */
@keyframes changeLetter {
  0% {
    content: "Looking for love?";
    font-family: 'Montserrat', sans-serif;
  }
  50% {
    color: $white;
  }
  100% {
    content: "Meet The Dogs";
  }
}
